<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Breeze - UX - Prototyping</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		{% load compress %}
		{% compress css %}
		<link rel="stylesheet" href="/static/lightside/vendor/css/normalize.css" type="text/css">
		<link rel="stylesheet" href="/static/lightside/style/style_init.sass" type="text/x-sass">
		{% endcompress %}
		<script src="/static/lightside/vendor/js/jquery.js"></script>
		<script src="/static/lightside/vendor/js/modernizr.js"></script>
		{% compress js %}
		<script type="text/coffeescript" src="/static/lightside/logic/app_init.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/debug_center.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/People.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Activities.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Activities_model.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Timers.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Views.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Interactions.coffee"></script>
		{% endcompress %}

	</head>
	<body>
		<!-- Add site or application content here -->
		<div id="primary-container">
			<div id="primary-header">
				<h1>Breeze Prototype</h1>
				<h3 id="person-name"></h3>
			</div>
			<div id="activity-center">
				<div id="activity-status-bar">
					<div id="activity-completed-month"></div>
					<div id="activity-minutes-remaining">0min</div>
					<div id="activity-completed-today"></div>
				</div>
				<div id="activity-controls">
					<div id="activity-time-ring"></div>
					<div id="activity-progress-marker"></div>
					<div id="activity-control-left"></div>
					<div id="activity-control-center"></div>
					<div id="activity-control-right"></div>
				</div>
				<div id="activity-management">
					<div id="activity-manager-control">Menu</div>
					<div id="activity-add-edit-control">Add</div>
				</div>
				<div id="activity-prompt">
					<div id="activity-prompt-header"></div>
					<div id="activity-prompt-message"></div>
					<div id="activity-prompt-controlls"></div>
				</div>
				<ul id="activity-list">
					<li>Data Loading</li>
				</ul>
			</div>
			<div id="activity-add-edit">
				<form name="activity_form" id="activity-form">
					<fieldset name="activity_title" id="activity-title">
						<legend>Activity</legend>
						<input type="text" name="activity_text" id="activity-text" placeholder="Activity..." autofocus required>
					</fieldset>
					<fieldset name="activity_time" id="activity-time">
						<legend>Time Activity</legend>
						<input type="number" name="activity_duration" id="activity-duration" value="25">
						<input type="datetime" name="activity_available_datetime" id="activity-available-datetime">
						<input type="datetime" name="activity_due_datetime" id="activity-due-datetime">
						<input type="checkbox" name="activity_scheduled" id="activity-scheduled"><label for="activity_scheduled">Scheduled</label>
					</fieldset>
					<fieldset name="activity_define" id="activity-define">
						<legend>Define Activity</legend>
						<input list="activity_types_list" name="activity_type" id="activity-type" value="create">
						<datalist id="activity_types_list">
							<option value="appointment">
							<option value="communicate">
							<option value="create">
							<option value="decide">
							<option value="improve">
							<option value="maintain">
							<option value="obtain">
							<option value="organize">
							<option value="plan">
							<option value="research">
							<option value="resolve">
							<option value="social">
						</datalist>
						<textarea id="activity-description" name="activity_description" placeholder="Describe Activity"></textarea>
					</fieldset>
					<button type="submit" name="activity_submit_accept" id="activity-submit-accept">Accept</button>
					<button type="submit" name="activity_submit_decline" id="activity-submit-decline">Decline</button>
				</form>
			</div>
			<div id="activity-list-debug-view">
				<div id="activity-list-debug-toggle">=</div>
				<div id="activity-list-debug-info">
					<h3>Debug Panel</h3>
					<p class="text-subtle">Official use only!</p>
					<div id="activity-list-debug-general">
						<h6>General</h6>
						<ul class="debug-stats-list">
							<li><span class="debug-stat-name">Current Time</span><span id="debug-current-time" class="debug-stat-output">&nbsp;</span></li>
							<li><span class="debug-stat-name">Activities Presented</span><span id="debug-activities-presented" class="debug-stat-output">&nbsp;</span></li>
							<li><span class="debug-stat-name">Large Chunck</span><span id="debug-large-chunck" class="debug-stat-output">&nbsp;</span></li>
							<li><span class="debug-stat-name">Medium Chunck</span><span id="debug-medium-chunck" class="debug-stat-output">&nbsp;</span></li>
							<li><span class="debug-stat-name">Small Chunck</span><span id="debug-small-chunck" class="debug-stat-output">&nbsp;</span></li>
						</ul>
					</div>
					<div id="activity-list-debug-events" style="clear: both;">
						<h6>Registered Events</h6>
						<ul id="debug-events-list" class="debug-stats-list">
							<li><span class="debug-stat-name">Event Id</span><span class="debug-stat-description">Expected Time</span></li>
						</ul>
					</div>
					<div id="activity-list-debug-playlist-timers" style="clear: both;">
						<h6>Playlist Timers</h6>
						<ul id="debug-playlist-timer-list" class="debug-stats-list">
							<li><span class="debug-stat-name">Playlist Id</span><span class="debug-stat-description">Elapsed Time</span></li>
						</ul>
					</div>
					<div id="activity-list-debug-activity-timers" style="clear: both;">
						<h6>Activity Timers</h6>
					</div>
					<div id="activity-list-debug-activity" style="clear: both;">
						<h6>Current Activity</h6>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>