@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);
html, button, input, select, textarea {
  color: #222222; }

::-moz-selection {
  background: #4a7191;
  text-shadow: none; }

::selection {
  background: #4a7191;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

* html {
  font-size: 100%; }

html {
  font-size: 14px;
  line-height: 1.57143em; }

body {
  font-family: "Source Code Pro", Sans-Serif;
  font-weight: 400;
  color: #c2dcf2; }

div#primary-container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  padding: 0 2em 0 2em;
  background: url("../imgs/blueprint_pattern.png");
  background-size: 255px 255px;
  -webkit-box-shadow: inset 0px 0px 160px 0px black;
  box-shadow: inset 0px 0px 160px 0px black; }

.alternate-text {
  font-family: "Orbitron", Sans-Serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Code Pro", Sans-Serif;
  font-weight: 600;
  color: #8abce5; }

h1.alternate-color, h2.alternate-color, h3.alternate-color, h4.alternate-color, h5.alternate-color, h6.alternate-color {
  color: #cc8952; }

h1.alternate-font, h2.alternate-font, h3.alternate-font, h4.alternate-font, h5.alternate-font, h6.alternate-font {
  font-family: "Orbitron", Sans-Serif;
  font-weight: 600; }

h1 {
  font-size: 2.28571em;
  line-height: 1.375em; }

h2 {
  font-size: 1.71429em;
  line-height: 1.83333em; }

h3 {
  font-size: 1.42857em;
  line-height: 2.2em; }

h4 {
  font-size: 1.28571em;
  line-height: 1.22222em; }

h5 {
  font-size: 1.14286em;
  line-height: 1.375em; }

h6 {
  font-size: 0.92857em;
  line-height: 1.69231em; }

p.emphasis, span.emphasis {
  font-weight: 200; }
p.text-subtle, span.text-subtle {
  color: #748fa6; }
p.text-warning, span.text-warning {
  color: #b23c1c; }
p.text-caution, span.text-caution {
  color: #b7912a; }
p.text-confirmation, span.text-confirmation {
  color: #229044; }
p.text-information, span.text-information {
  color: #99b5cc; }

small {
  font-size: 0.85714em;
  line-height: 1.83333em; }

strong {
  font-weight: 600; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  color: #82b2d9;
  font-weight: 600; }

div.padding-top {
  padding-top: 1.57143em; }

div.padding-bottom {
  padding-bottom: 1.57143em; }

div.padding-sides {
  padding-left: 1em;
  padding-right: 1em; }

div.solid-border {
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.5em;
  border-color: #a3bacc; }

div.dashed-border {
  border-style: dashed;
  border-width: 0.07143em;
  padding: 1.5em;
  border-color: #a3bacc; }

.light-background {
  background-color: rgba(70, 156, 223, 0.2); }

.dark-background {
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-input-placeholder {
  color: #436887; }

::-moz-placeholder {
  color: #436887; }

::-ms-input-placeholder {
  color: #436887; }

form.form-base {
  width: 90%;
  max-width: 560px;
  margin-left: 1em; }

input.input-base, input.input-subtle, input.input-warning, input.input-caution, input.input-confirmation, input.input-information, input.input-disabled, textarea.textarea-base {
  width: 98%;
  display: block;
  padding: 0 0 0 2%;
  margin: 0;
  font-size: 1.14286em;
  line-height: 1.375em;
  line-height: 2.35714em;
  margin-bottom: 1.57143em;
  color: #c2dcf2;
  border: 1px solid #a3bacc;
  background: transparent;
  outline: none; }
  input.input-base:active, input.input-base:focus, input.input-subtle:active, input.input-subtle:focus, input.input-warning:active, input.input-warning:focus, input.input-caution:active, input.input-caution:focus, input.input-confirmation:active, input.input-confirmation:focus, input.input-information:active, input.input-information:focus, input.input-disabled:active, input.input-disabled:focus, textarea.textarea-base:active, textarea.textarea-base:focus {
    width: 100%;
    border-width: 2px;
    background-color: rgba(70, 100, 130, 0.2); }

input.input-subtle {
  border-color: #748fa6; }

input.input-warning {
  border-color: #b23c1c; }

input.input-caution {
  border-color: #b7912a; }

input.input-confirmation {
  border-color: #229044; }

input.input-information {
  border-color: #99b5cc; }

input.input-disabled {
  border-color: #436887; }

textarea.textarea-base {
  min-height: 88px; }

button.button-base {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 1.42857em;
  line-height: 2.2em;
  line-height: 3.14286em;
  margin-bottom: 1.57143em;
  color: #c2dcf2;
  border: 2px solid #a3bacc;
  background-color: rgba(70, 100, 130, 0.5); }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " "; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
