{% extends "breeze/layout/full-width.html" %}

{% block content %}

    <div class="row">
        <div class="hero-unit">
            <h1>Breeze Through Your Day</h1>
            <p>
                Let breeze empower your life by simplifying your schedule.  An easy and intuitive app
                to manage your agenda.
            </p>
            <div style="text-align:center">
                <a href="/lightside/activity_center" class="btn btn-primary btn-large call-to-action">Launch App</a>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <h2>Three more reasons to choose Breeze</h2>
        <div class="span4">
            <h3>You forgot your keys</h3>
            <p>Your memory is failing, we can solve that!</p>
        </div>
        <div class="span4">
            <h3>We need the money</h3>
            <p>We have been spending cash like water and the government is all out of bailout bucks.</p>
        </div>
        <div class="span4">
            <h3>New Signup Promotion</h3>
            <p>
                Well... that's after you signup, so signup and then we'll launch
                the special pricing deal for new subscribers.
            </p>
        </div>        
    </div>

{% endblock %}