<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Breeze - UX - Prototyping</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

		{% load compress %}
		{% compress css %}
		<link rel="stylesheet" href="/static/lightside/vendor/css/normalize.css" type="text/css">
		<link rel="stylesheet" href="/static/lightside/style/style_init.sass" type="text/x-sass">
		{% endcompress %}
		<script src="/static/lightside/vendor/js/jquery.js"></script>
		<script src="/static/lightside/vendor/js/modernizr.js"></script>
		<script src="/static/lightside/vendor/js/angular.js"></script>
		{% compress js %}
		<script type="text/coffeescript" src="/static/lightside/logic/app_init.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Activities.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Activities_model.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Views.coffee"></script>
		<script type="text/coffeescript" src="/static/lightside/logic/Timers.coffee"></script>
		{% endcompress %}

	</head>
	<body>
		<!-- Add site or application content here -->
		<div id="primary-container">
			<h1>Welcome to Breeze Prototype</h1>
			<a href="/lightside/activity_center">Play Up Task Prototype</a><br>
			<a href="/lightside/run_tests">Run Tests on Prototype JS</a><br>
			<a href="/lightside/style_samples">Style Samples</a>
		</div>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>